            .header {
                background-color: #5FE6EB;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                font-size:30px;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                color:#214758;
                margin:30px;
                padding:25px;
                border-radius:20px;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .header:hover {
                transition-duration: 0.7s;
                transform:scale(1.02);
            }

            .description {
                background-color: #9be477;
                display: flex;
                justify-content: space-evenly;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size:20px;
                color:#204e37;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                border-radius:20px;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .description:hover {
                transition-duration: 0.7s;
                transform:scale(1.02);
            }

            .allAnimals {
                background-color: #ebccdd;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                border-radius:20px;
                text-align: center;
                position:relative;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .allAnimals1 {
                background-color: #c4e2df;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                border-radius:20px;
                text-align: center;
                position:relative;
                box-shadow: 5px 5px 5px 5px #999;
            }
            
            .grid img{
                border:2px solid #000000;
                border-radius:40px;
            }

            .panda:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .camel:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .chameleon:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .cicada:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .parrot:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .swan:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .teddy:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .pigeon:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .panda {
                background-color: #ffffff46;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size:25px;
                color:#1f1d1d;
                border-radius:20px;
                margin:30px;
                padding:25px;
            }

            .panda p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(400%, -50%);
                opacity:0;
            }

            .panda:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .panda:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .chameleon {
                background-color: #b0e280;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size:25px;
                color:#335e0a;
                border-radius:20px;
                margin:30px;
                padding:25px;
            }

            .chameleon p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(-160%, -50%);
                opacity:0;
            }

            .chameleon:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .chameleon:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .camel {
                background-color: #f3e8be;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size:25px;
                color:#6e684f;
                border-radius:20px;
                margin:30px;
                padding:25px;
            }

            .camel p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(-480%, -50%);
                opacity:0;
            }

            .camel:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .camel:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .pigeon {
                background-color: #98d4d4;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size:25px;
                color:#024444;
                border-radius:20px;
                margin:30px;
                padding:25px;
            }

            .pigeon p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(-190%, -50%);
                opacity:0;
            }

            .pigeon:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .pigeon:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .cicada {
                background-color: #e6dcc6;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size:25px;
                color:#755206;
                border-radius:20px;
                margin:30px;
                padding:25px;
            }

            .cicada p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(-350%, -50%);
                opacity:0;
            }

            .cicada:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .cicada:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .teddy {
                background-color: #f5f4cf;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size:25px;
                color:#504e16;
                border-radius:20px;
                margin:30px;
                padding:25px;
            }

            .teddy p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(60%, -50%);
                opacity:0;
            }

            .teddy:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .teddy:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .parrot {
                background-color: #e6a3a3;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size:25px;
                color:#771414;
                border-radius:20px;
                margin:30px;
                padding:25px;
            }

            .parrot p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(90%, -50%);
                opacity:0;
            }

            .parrot:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .parrot:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .swan {
                background-color: #ebceeb;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size:25px;
                color:#750b75;
                border-radius:20px;
                margin:30px;
                padding:25px;
            }

            .swan p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(420%, -50%);
                opacity:0;
            }

            .swan:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .swan:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .footer {
                background-color: #e29aca;
                font-family:'Courier New', Courier, monospace;
                font-size:25px;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                border-radius:20px;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .footer:hover {
                transition-duration: 0.7s;
                transform:scale(1.02);
            }

            .c1 {
                background-color: #F4A460;
                display: flex;
                flex-wrap: wrap;
                color:#924909;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }

            .c1 img{
                border-radius:20px;
                justify-content: center; 
                flex-direction: column;
                margin-left:700px;
            }

            .c1 li {
                text-align:center;
                opacity:0;
                margin-left:650px;
                margin-top: 50px;
                width:400px;
            }

            .c1:hover li {
                transition-duration: 0.7s;
                opacity:1;
            }

            .c1:hover {
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .ch1 {
                background-color: #b0e280;
                display: flex;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                color:#335e0a;
                font-size:25px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                border-radius:20px;
            }

            .ch1 img{
                border-radius:20px;
                justify-content: center; 
                flex-direction: column;
                margin-left:700px;
            }

            .ch1 li {
                text-align:center;
                opacity:0;
                margin-left:650px;
                margin-top: 50px;
                width:400px;
            }

            .ch1:hover li {
                transition-duration: 0.7s;
                opacity:1;
            }

            .ch1:hover {
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .t1 {
                background-color: #FFA07A;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                border-radius:20px; 
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                color:#8a2c08;
            }

            .t1 img{
                border-radius:20px;
                justify-content: center; 
                flex-direction: column;
                margin-left:700px;
            }

            .t1 li {
                text-align:center;
                opacity:0;
                margin-left:650px;
                margin-top: 50px;
                width:400px;
            }

            .t1:hover li {
                transition-duration: 0.7s;
                opacity:1;
            }

            .t1:hover {
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .p1 {
                background-color: #868181;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                color:#ffffff;
                font-size:25px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                border-radius:20px;
            }

            .p1 img{
                border-radius:20px;
                justify-content: center; 
                flex-direction: column;
                margin-left:700px;
            }

            .p1 li {
                text-align:center;
                opacity:0;
                margin-left:650px;
                margin-top: 50px;
                width:400px;
            }

            .p1:hover li {
                transition-duration: 0.7s;
                opacity:1;
            }

            .p1:hover {
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .ci1 {
                background-color: #FFFFE0;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                color:#7c7c1c;
                border-radius:20px;
            }

            .ci1 img{
                border-radius:20px;
                justify-content: center; 
                flex-direction: column;
                margin-left:700px;
                border:solid #000000 2px;
            }

            .ci1 li {
                text-align:center;
                opacity:0;
                margin-left:650px;
                margin-top: 50px;
                width:400px;
            }

            .ci1:hover li {
                transition-duration: 0.7s;
                opacity:1;
            }

            .ci1:hover {
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .pi1 {
                background-color: #87CEFA;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                color:#043f64;
                border-radius:20px;
            }

            .pi1 img{
                border-radius:20px;
                justify-content: center; 
                flex-direction: column;
                margin-left:700px;
            }

            .pi1 li {
                text-align:center;
                opacity:0;
                margin-left:650px;
                margin-top: 50px;
                width:400px;
            }

            .pi1:hover li {
                transition-duration: 0.7s;
                opacity:1;
            }

            .pi1:hover {
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .pa1 {
                background-color: #BC8F8F;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                border-radius:20px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                color:#491313;
            }

            .pa1 img{
                border-radius:20px;
                justify-content: center; 
                flex-direction: column;
                margin-left:700px;
            }

            .pa1 li {
                text-align:center;
                opacity:0;
                margin-left:650px;
                margin-top: 50px;
                width:400px;
            }

            .pa1:hover li {
                transition-duration: 0.7s;
                opacity:1;
            }

            .pa1:hover {
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #999;
            }

            .s1 {
                background-color: #B0E0E6;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                border-radius:20px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                color:#0d565f;
            }

            .s1 img{
                border-radius:20px;
                justify-content: center; 
                flex-direction: column;
                margin-left:700px;
            }

            .s1 li {
                text-align:center;
                opacity:0;
                margin-left:650px;
                margin-top: 50px;
                width:400px;
            }

            .s1:hover li {
                transition-duration: 0.7s;
                opacity:1;
            }

            .s1:hover {
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #999;
            }

            body{
                background-color: #f8e5ee;
                margin:0px;
            }

            .footer a:link{
                color: #68dbd7;
                text-decoration:none;
            }

            .footer a:visited{
                color: #582966;
                text-decoration:none;
            }